services:
  - type: web
    name: portfolio-site
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn workpro.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: portfolio-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false

databases:
  - name: portfolio-db
    databaseName: portfolio
    user: portfolio
